<div class="row header  ">
    <div class="col-10 ">
        <nav class="navbar navbar-expand-lg  navbar-light mm ">
            <!-- <a class="navbar-brand  ">
                    <img class="rounded-circle "
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/HP_logo_2012.svg/1200px-HP_logo_2012.svg.png"
                        alt="" width="50" height="45">
                </a> -->
            <ul class="navbar-nav ">
                <li class="nav-item active">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink='/manage'
                    *ngIf="authService.isLoggedIn">Admin</a>
                </li> 
                <!-- <li class="nav-item ">
                    <a class="nav-link" routerLink="/laptop">Laptop</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/desktop">Desktop</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/monitor">Monitor</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/printer">Printer</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/gaming">Gaming</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/keyboard">Keyboard</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/mouse">Mouse</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/pen">Pen</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/bag">Bag</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/audio">Audio</a>
                </li>  -->
            </ul>
            <div class="dropdown">
                <button class="dropbtn">Categories
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <li class="nav-item list-group-item list-group-item-action">
                        <a class="nav-link" routerLink="/laptop">Laptop</a>
                    </li>
                    <li class="nav-item list-group-item list-group-item-action">
                        <a class="nav-link" routerLink="/desktop">Desktop</a>
                    </li>
                    <li class="nav-item list-group-item list-group-item-action">
                        <a class="nav-link" routerLink="/monitor">Monitor</a>
                    </li>
                    <li class="nav-item list-group-item list-group-item-action">
                        <a class="nav-link" routerLink="/printer">Printer</a>
                    </li>
                    <li class="nav-item list-group-item list-group-item-action">
                        <a class="nav-link" routerLink="/gaming">Gaming</a>
                    </li>
                    <li class="nav-item list-group-item list-group-item-action">
                        <a class="nav-link" routerLink="/keyboard">Keyboard</a>
                    </li>
                    <li class="nav-item list-group-item list-group-item-action">
                        <a class="nav-link" routerLink="/mouse">Mouse</a>
                    </li>
                    <!-- <li class="nav-item list-group-item list-group-item-action">
                        <a class="nav-link" routerLink="/pen">Pen</a>
                    </li>
                    <li class="nav-item list-group-item list-group-item-action">
                        <a class="nav-link" routerLink="/bag">Bag</a>
                    </li> -->
                    <li class="nav-item list-group-item list-group-item-action">
                        <a class="nav-link" routerLink="/audio">Audio</a>
                    </li>
                </div>
            </div>
            <!-- <input type="text" class="form-control text-white bg " placeholder="What are you looking for?" [(ngModel)]="brand_name_filter" (keyup)="search($event)"> -->

        </nav>

    </div>
    <div class="col mo ">
        <form action="" class="form-inline ">
            <div class="row row-inline">
                <div>
                    <i style="font-size: 30px;" [routerLink]="['/add-to-card']" class="fa fa-shopping-cart mt-2 "
                        data-toggle="tooltip" data-placement="bottom" title="Add to cart"></i>
                    <div style="font-size: 10px;" class="badge bg-secondary ml">{{totalItem}}</div>


                    <button class="btn btn-outline-primary text-black border-0 text-center mr-2 ml "
                        (click)="LogInorLogOut()">
                        {{this.authService.isLoggedIn ? 'Log Out' :'Login'}}</button>

                        <a class=" about" routerLink="/about-us">About Us</a>




                </div>

            </div>





        </form>
    </div>



</div>