<footer class="w-100 px-5 py-3 footer mt-5 ">
   <div class="row container justify-content-center  ">
      <div class="col-5">
         <h6><strong>Contact Us</strong></h6>
         <p class="mt-4">09784370745</p>
         <p>Mon-Fri 8:30 am - 5:30 pm</p>
         <p>(excl. public holidays)</p>
      </div>
      <div class="col-5">
         <h6><strong>Shop for Products</strong></h6>
         <div class="row">
            <div class="col-3">
               <a routerLink="/laptop" class="text-decoration-none text-black mt-2">Laptops</a><br>
               <a routerLink="/desktop" class="text-decoration-none text-black mt-2">Desktops</a><br>
               <a routerLink="/monitor" class="text-decoration-none text-black mt-2">Monitors</a><br>
               <a routerLink="/printer" class="text-decoration-none text-black mt-2">Printers</a><br>
               <a routerLink="/gaming" class="text-decoration-none text-black mt-2">Gamings</a><br>

            </div>
            <div class="col">
               <a routerLink="/keyboard" class="text-decoration-none text-black mt-2">Keyboards</a><br>
               <a routerLink="/mouse" class="text-decoration-none text-black mt-2">Mouses</a><br>
               <a routerLink="/pen" class="text-decoration-none text-black mt-2">Pens</a><br>
               <a routerLink="/bag" class="text-decoration-none text-black mt-2">Bags</a><br>
               <a routerLink="/audio" class="text-decoration-none text-black mt-2">Audios</a><br>

            </div>
         </div>


      </div>
      <div class="col-2">
         <h6><strong>Comsuter Services</strong></h6>
         <a routerLink="/about-us" class="text-decoration-none text-black mt-2">Abouts Us</a><br>
         <a routerLink="/term" class="text-decoration-none text-black mt-2">Terms & Condition</a><br>
         <a routerLink="/contact-us" class="text-decoration-none text-black mt-2">Contact Us</a><br>
         <a routerLink="/feedback" class="text-decoration-none text-black mt-2">Feedback & Complations </a><br>

      </div>
      <hr class="mt-4">
   </div>
   <div class="row justify-content-center mt-4">
      <div class="col-lg-5">
         <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
               <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.facebook.com/">
                  <i class="fa fa-facebook-square fa-2x "></i>
               </a>
            </li>
            <li class="list-inline-item">
               <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.twitter.com/">
                  <i class="fa fa-twitter-square fa-2x"></i>
               </a>
            </li>
            <li class="list-inline-item">
               <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.youtube.com/">
                  <i class="fa fa-youtube-square fa-2x"></i>
               </a>
            </li>
            <li class="list-inline-item">
               <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.instagram.com/">
                  <i class="fa fa-instagram fa-2x"></i>
               </a>
            </li>

            <li class="list-inline-item">
               <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.google.com/">
                  <i class="fa fa-google-plus-circle fa-2x"></i>
               </a>
            </li>
            <li class="list-inline-item">
               <a class="btn-floating  btn-sm rgba-white-slight mx-1" href="https://www.linkedin.com/">
                  <i class="fa fa-linkedin fa-2x"></i>
               </a>
            </li>
         </ul>
         <div class="text-center">
            <p>Proudly Created By Computer University</p>
            <p><i class="fa fa-copyright"></i> Copyright by 2022</p>
         </div>
      </div>
   </div>
</footer>