<div class="container">
    <h5><strong>Terms & Conditions</strong></h5>
    <p>If your quote or HP order references HP Portfolio Terms and this website, your order is governed by the Portfolio Terms for the country of the HP affiliate accepting the order.
     However, if you have a separately signed agreement with HP, such terms govern except to the extent that HP’s Portfolio Terms for the country of delivery reflect local law or business practice.
     Portfolio Terms are the standard terms under which HP sells HP’s products and services (excluding 3D Print or Graphic Solutions Business) to customers who purchase directly for HP for their direct end-use.
     It can function as a master agreement and include services sold on a statement of work.</p>
</div>