<div class="container">
    <h5 class="mt-4"><strong>Admin</strong></h5>
    <div class="row mt-3">
        <div class="col-2">
            <ul class="list-group">
                <!-- <li class="list-group-item list-group-item-action" routerLink="/laptop_from">Orders</li>
                <li class="list-group-item list-group-item-action" routerLink="/laptop_from">Feedback form Customers</li> -->
                <li class="list-group-item list-group-item-action" routerLink="/laptop_from">Add New Laptop</li>
                <li class="list-group-item list-group-item-action" routerLink="/desktop_form">Add New Desktop</li>
                <li class="list-group-item list-group-item-action" routerLink="/monitor_form">Add New Monitor</li>
                <li class="list-group-item list-group-item-action" routerLink="/printer_form">Add New Printer</li>
                <li class="list-group-item list-group-item-action" routerLink="/gaming_from">Add New Gaming</li>
                <li class="list-group-item list-group-item-action" routerLink="/mouse_from">Add New Mouse</li>
                <li class="list-group-item list-group-item-action" routerLink="/keyboard_from">Add New Keyboard</li>
                <!-- <li class="list-group-item list-group-item-action" routerLink="/pen_from">Add New Pen</li>
                <li class="list-group-item list-group-item-action" routerLink="/bag_from">Add New Bag</li> -->
                <li class="list-group-item list-group-item-action" routerLink="/audio_from">Add New Audio</li>
            </ul>

        </div>
        <div class="col">
            <h6><strong>Feedback form Customers</strong></h6>
            <ul class="list-group" *ngFor="let f of feedback.reverse();let i=index ">
                <li class="list-group-item mt-2">
                  {{i+1}} . {{f.feedback}}
                </li>
            </ul>

        </div>

    </div>
</div>