<!-- <div class="row">
    <div class="col-md-7">
        <h5 class="ml-5 mt-3">Cart Clothing List</h5>
        <hr>
        <div class="media mb-2  ml-5 shadow border rounded p-2">
            <a class="d-flex align-self-bottom" href="#">
                <img src="https://assets.hardwarezone.com/img/2021/07/hp1_1.jpg" alt="" width="180" height="230" style="object-fit: fill;">
            </a>
            <div class="media-body ml-5">
                <h6><strong>Order</strong></h6>
                <hr>
                <p><strong>Price : </strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  MMK</p>
                <p><strong>Size : </strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
                <p><strong>Color : </strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
                
                <div class="form-group w-50">
                    <label for="" class="font-weight-bold">Quantity</label>
                    <input type="number" min="1" step="any" class="form-control" >
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <h5 class=" mt-3">Order</h5>
        <hr>
        <table class="table table-borderless">
            <tr>
                <td class="font-weight-bold">Sub Total</td>
                <td class="text-right"> MMK</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Tax</td>
                <td class="text-right"> MMK</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Total</td>
                <td class="text-right"> MMK</td>
            </tr>
        </table>
        <button class="btn btn-block btn-outline-secondary " routerLink="/"><i class="fa fa-arrow-left"></i> &nbsp; Continous Shopping</button>
        <button class="btn btn-block btn-outline-secondary" routerLink="/checkout">Check Out</button>
    </div>
</div> -->


<ng-container *ngIf="products.length !=0">
    <div class="container mt-3">
        <div class="cart-table">
            <div class="card-product">
                <table class="table table-responsive ">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Porduct Image</th>
                            <th>Product Name</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let productItem of products ; let i=index">
                            <td>{{i+1}}</td>
                            <td class="td"><img class="image" [src]="productItem.profileImage" alt=""></td>
                            <td>{{productItem.brand_name}}</td>
                            <td class="text-center">{{productItem.price}}</td>
                            <td class="text-center">
                                <div class="col-sm-9">
                                    <div class="row row-inline">
                                        <div class="col-2">
                                            <a class="btn btn-success text-white" (click)="decrement(productItem.brand_id, productItem.quantity)">
                                                <i class="fa fa-minus" style="font-size:15px"></i>
                                            </a>

                                        </div>
                                        <div class="col-8">
                                            <input type="text" readonly 
                                                class="form-control text-center bg-white font-weight-bold "
                                                 value="{{productItem.quantity}}" #Totalcartval>

                                        </div>
                                        <div class="col-2">
                                            <a class="btn btn-success text-white" (click)="increment(productItem.brand_id, productItem.quantity)" role="button">
                                                <i class="fa fa-plus" style="font-size:15px"></i>
                                            </a>

                                        </div>



                                    </div>
                                </div>
                            </td>
                            <td class="text-center">{{productItem.price * productItem.quantity}}</td>
                            <td><button (click)="removeItem(content,i)" class="btn btn-danger"><i
                                        class="fa fa-trash"></i></button></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td><button class="btn btn-danger" (click)="emptyCart(content)">Empty Cart</button></td>
                            <td><button routerLink="/home" class="btn btn-secondary">Shop More</button></td>
                            <td><button routerLink="/check-out" class="btn btn-success">Confirm Order</button></td>
                            <td colspan="2"><strong>Total : </strong> $ {{totalAmount}}</td>


                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>

</ng-container>

<ng-container *ngIf="products.length == 0">
    <div class="container mt-4">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now ...</h6>
            <button class="btn btn-secondary" routerLink="/home">Shop now</button>
        </div>
    </div>
</ng-container>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">Delete Confirmation</h6>
        <button type="button" class="close btn-outline-danger btn btn-block" aria-label="Close"
            (click)="d('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure to delete form shopping cart?</strong> </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>
    </div>
</ng-template>