<div class="container">
    <h5><strong>Contact Us</strong></h5>
    <div>
        <i class="fa fa-phone mt-4"> &nbsp; +95 784370745</i> <br>
        <i class="fa fa-envelope mt-3"> &nbsp; hponlineshop@gmail.com</i><br> 
        <i class="fa fa-address-card mt-3"> &nbsp; Yangon , Myanmar</i> 

    </div>
    <div class="row  mt-4">
        <div class="col-lg-5">
           <ul class="list-unstyled list-inline ">
              <li class="list-inline-item">
                 <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.facebook.com/">
                    <i class="fa fa-facebook-square fa-2x "></i>
                 </a>
              </li>
              <li class="list-inline-item">
                 <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.twitter.com/">
                    <i class="fa fa-twitter-square fa-2x"></i>
                 </a>
              </li>
              <li class="list-inline-item">
                 <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.youtube.com/">
                    <i class="fa fa-youtube-square fa-2x"></i>
                 </a>
              </li>
              <li class="list-inline-item">
                 <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.instagram.com/">
                    <i class="fa fa-instagram fa-2x"></i>
                 </a>
              </li>
  
              <li class="list-inline-item">
                 <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.google.com/">
                    <i class="fa fa-google-plus-circle fa-2x"></i>
                 </a>
              </li>
              <li class="list-inline-item">
                 <a class="btn-floating  btn-sm rgba-white-slight mx-1" href="https://www.linkedin.com/">
                    <i class="fa fa-linkedin fa-2x"></i>
                 </a>
              </li>
           </ul>
        </div>
     </div>
        
