<div class="row justify-content-center">
    <div class="container">
        <div class="invoice">
            <h5 class="text-center mt-3"><strong>Invoice</strong></h5>
            <hr>
            <p><strong>Invoice Date : </strong> </p>

            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>No</th>
                        <th>Product Name</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let productItem of product ; let i=index">
                        <td></td>
                        <td class="text-right">{{i+1}}</td>
                        <td class="text-right">{{productItem.brand_name}}</td>
                        <td class="text-right">{{productItem.price}}MMK</td>
                        <td class="text-right">{{productItem.quantity}}</td>
                        <td class="text-right"> {{productItem.total}}MMK</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-right">SubTotal</td>
                        <td class="text-right">{{invoice.SubTotal}} MMK</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">Tax</td>
                        <td class="text-right">{{invoice.Tax}} MMK</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">Total</td>
                        <td class="text-right">{{invoice.total}}MMK</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>