<div class="row justify-content-center">
    <div class="container">
        <div class="invoice">
            <h5 class="text-center mt-3"><strong>Invoice</strong></h5>
            <hr>
            <p><strong>Invoice ID : </strong> </p>
            <p><strong>Invoice Date : </strong> </p>

            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Product Name</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                        <td class="text-right"> MMK</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-right">SubTotal</td>
                        <td class="text-right"> MMK</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">Tax</td>
                        <td class="text-right"> MMK</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">Total</td>
                        <td class="text-right">MMK</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>