<section class="home">
    <div class=" mt-3">
        <div class="row">
            <div class="col-3 ml-3">
                <a class="text-decoration-none text-black" routerLink="/laptop">
                    <div class="card mr-2 mb-3 ">
                        <h5 class="card-title mt-4 text-center"><strong>Laptop</strong></h5>
                        <div class="card-body">
                            <img class="card-img-top"
                                src="https://images.news18.com/ibnlive/uploads/2021/06/1625041324_featured-image-2021-06-30t135044.118.jpg"
                                alt="Card image cap">
                            <p class="text-center mt-5">Starting form : $999</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a class="text-decoration-none text-black" routerLink="/desktop">
                    <div class="card mr-2 mb-3 border-block-color: white;">
                        <h5 class="card-title text-center mt-4"><strong>Desktop</strong></h5>
                        <div class="card-body">
                            <img class="card-img-top"
                                src="https://i.pcmag.com/imagery/reviews/04xTDKsqdUzgKvWI7MGVnG3-1.fit_lim.size_1200x630.v1598204639.jpg"
                                alt="Card image cap">
                            <p class="text-center mt-5">Starting form : $899</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a class="text-decoration-none text-black" routerLink="/monitor">
                    <div class="card mr-2 mb-3 border-block-color: white;">
                        <h5 class="card-title text-center mt-4"><strong>Monitor</strong></h5>
                        <div class="card-body">
                            <img class="card-img-top"
                                src="https://www.tradeinn.com/f/13794/137942799/hp-32f-31.5-full-hd-led-monitor.jpg"
                                alt="Card image cap">
                            <p class="text-center mt-5">Starting form : $199</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a class="text-decoration-none text-black" routerLink="/gaming">
                    <div class="card mr-2 mb-3 border-block-color: white;">
                        <h5 class="card-title text-center mt-4"><strong>Gaming</strong></h5>
                        <div class="card-body">
                            <img class="card-img-top"
                                src="https://m.media-amazon.com/images/I/612jeuKyEtL._AC_SS450_.jpg"
                                alt="Card image cap">
                            <p class="text-center mt-5">Starting form : $89</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3 mt-3 mb-3">
                <a class="text-decoration-none text-black" routerLink="/printer">
                    <div class="card mr-2 mb-3 border-block-color: white;">
                        <h5 class="card-title text-center mt-4"><strong>Printer</strong></h5>
                        <div class="card-body">
                            <img class="card-img-top"
                                src="https://sg-media.apjonlinecdn.com/catalog/product/cache/b3b166914d87ce343d4dc5ec5117b502/2/2/22a60d_1.png"
                                alt="Card image cap">
                            <!-- <p class="text-center mt-5">Starting form : $89</p> -->
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-3 mt-3 mb-3">
                <a class="text-decoration-none text-black" routerLink="/keyboard">
                    <div class="card mr-2 mb-3 border-block-color: white;">
                        <h5 class="card-title text-center mt-4"><strong>Keyboard</strong></h5>
                        <div class="card-body">
                            <img class="card-img-top"
                                src="https://www.bhphotovideo.com/images/images2500x2500/hp_hp2un30aa_100_keyboard_1418797.jpg"
                                alt="Card image cap">
                            <!-- <p class="text-center mt-5">Starting form : $89</p> -->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3 mt-3 mb-3">
                <a class="text-decoration-none text-black" routerLink="/mouse">
                    <div class="card mr-2 mb-3 border-block-color: white;">
                        <h5 class="card-title text-center mt-4"><strong>Mouse</strong></h5>
                        <div class="card-body">
                            <img class="card-img-top"
                                src="https://i5.walmartimages.com/asr/ff20b1cd-d69a-498a-884b-77af6f0a4b34.9ec5af0c151b372738d94a245b1859ab.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF"
                                alt="Card image cap">
                            <!-- <p class="text-center mt-5">Starting form : $89</p> -->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3 mt-3 mb-3">
                <a class="text-decoration-none text-black" routerLink="/audio">
                    <div class="card mr-2 mb-3 border-block-color: white;">
                        <h5 class="card-title text-center mt-4"><strong>Audio</strong></h5>
                        <div class="card-body">
                            <img class="card-img-top"
                                src="https://musicguide.com.pk/image/cache/catalog/ICON-Global/icon%20hp-200%202-600x800.jpg"
                                alt="Card image cap">
                            <!-- <p class="text-center mt-5">Starting form : $89</p> -->
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-3">
                <div class="text-black">
                    <h5 class="card-title text-center mt-2 "><strong>Accessories</strong></h5>
                    <ul class="list-group mt-3 ml">
                        <li class="list-group-item list-group-item-action p-3 " routerLink="/keyboard">Keyboard &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           <strong> <i class="fa fa-angle-right"></i></strong>
                        </li>
                        <li class="list-group-item list-group-item-action p-3" routerLink="/mouse">Mouse &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <strong> <i class="fa fa-angle-right"></i></strong>
                        </li>
                        <li class="list-group-item list-group-item-action p-3" routerLink="/pen">Pen &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <strong> <i class="fa fa-angle-right"></i></strong>
                        </li>
                        <li class="list-group-item list-group-item-action p-3" routerLink="/bag">Bag  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <strong> <i class="fa fa-angle-right"></i></strong>
                        </li>
                        <li class="list-group-item list-group-item-action p-3" routerLink="/audio">Audio        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <strong> <i class="fa fa-angle-right"></i></strong>
                        </li>
                    </ul>
                    <div class="card mr-2 mb-3 border-block-color: white;">
                        <h5 class="card-title text-center mt-4"><strong>Accessories</strong></h5>
                        <div class="card-body">
                            <img class="card-img-top"
                                src="https://www.connection.com/~/media/images/brands/h/hp/638322-hp-showcase-3box-2-accessories.png?h=196&la=en&w=404&v=1"
                                alt="Card image cap">
                            <p class="text-center mt-5">Starting form : $39</p>
                        </div>
                    </div>
                </div>
            </div> -->


        </div>
    </div>
</section>